:root {
    /* supported color schemes */
    color-scheme: light dark;
    
    /* colors */
    --toggle-gradient: linear-gradient(45deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --purple: #7276e1;
    
    /* fonts */
    --font: 'Inter', sans-serif;
    --base-font-size: 1.4rem;

    /* widths */
    --min-width-md: 600px;
    --max-width-lg: 1150px;
}

* { box-sizing: border-box; }

html {
    font-size: 10px;
    background-color: var(--background-color);
}

body {
    color: var(--color);
    background-color: var(--background-color);
    background-image: linear-gradient(to bottom, var(--background-pattern) 240px, var(--background-color) 240px);
    font-family: var(--font);
    padding-left: 5%;
    padding-right: 5%;
}

.header { 
    margin: 0 auto;
    max-width: 325px;
    padding-top: 4rem;
}
.header__heading {
    font-size: 2.3rem;
    margin-top: 0;
    margin-bottom: 5px;
}

.header__followers {
    color: var(--socialcard-header-text);
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.top { 
    display: grid;
    grid-template-columns: 325px;
    grid-gap: 30px;
    margin: 0 auto;
    max-width: 325px
}

.socialcard {
    background-color: var(--card-bg); 
    border-radius: 5px;
    padding: 20px 60px;
    text-align: center;
}

.socialcard__facebook {
    border-top: 5px solid hsl(195, 100%, 50%);
}

.socialcard__twitter {
    border-top: 5px solid hsl(203, 89%, 53%);
}

.socialcard__instagram {
    border-top: 5px solid transparent;
    /* border: 4px solid transparent; */
    border-image-source: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    border-image-slice: 5;
    background-clip: padding-box, border-box;
    /* background: var(--card-bg); */
    border-radius: 5px !important;
    background: linear-gradient(to right, var(--card-bg), var(--card-bg)), linear-gradient(15deg, var(--card-bg) , var(--card-bg));
    background-origin: padding-box, border-box;
}

.socialcard__instagram:hover {
    border-top: 5px solid transparent;
    /* border: 4px solid transparent; */
    border-image-source: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    border-image-slice: 5;
    background-clip: padding-box, border-box;
    /* background: var(--card-bg); */
    border-radius: 5px !important;
    background: linear-gradient(to right, var(--card-bg-hover), var(--card-bg-hover)), linear-gradient(15deg, var(--card-bg-hover) , var(--card-bg-hover));
    background-origin: padding-box, border-box;
    cursor: pointer;
}

.socialcard__youtube {
    border-top: 5px solid hsl(348, 97%, 39%);
}

.socialcard__header {
    align-items: center;
    display: flex;
    justify-content: center;
}

.socialcard__header__icon {
    display: inline;
    height: 20px;
    margin-right: 10px;
    width: 20px;
}

.socialcard__header__text {
    color: var(--socialcard-header-text);
    font-size: 1.4rem;
    font-weight: 700;
}

.socialcard__followers__count {
    font-size: 4.5rem;
    font-weight: 700;
    margin-top: 1.5rem;
}

.socialcard__followers__heading {
    color: var(--socialcard-header-text);
    font-size: 1rem;
    letter-spacing: 5px;
    margin-top: 1rem;
    text-transform: uppercase;
}

.socialcard__today {
    color: var(--socialcard-accent-text);
    font-weight: bold;
    margin-top: 3rem;
}

.socialcard__today--red {
    color: #ce3f53;
}

.overview {
    color: var(--socialcard-header-text);
    font-size: 2rem;
    margin: 5rem auto 2.5rem auto;
    max-width: var(--max-width-lg);
}

.stats {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 325px;
    margin: 0 auto;
    max-width: 325px;
}

.statscard {
    background-color: var(--card-bg); 
    border-radius: 5px;
    padding: 25px 30px;
    text-align: center;
}

.statscard:hover, .socialcard:hover {
    background-color: var(--card-bg-hover);
    cursor: pointer;
}

.statscard__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.statscard__header__views {
    color: var(--socialcard-header-text);
    font-size: 1.4rem;
    font-weight: 700;
}

.statscard__stats {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}

.statscard__stats__count {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}

.statscard__stats__trend {
    align-items: center;
    display: flex; 
    font-size: 1.2rem;
    font-weight: 700;
}

.statscard__stats_trend__icon, .socialcard__today__icon {
    margin-right: 5px;
}
.statscard__stats__trend--up {
    color: var(--socialcard-accent-text);
}

.statscard__stats__trend--down {
    color: var(--statscard-trend-down);
}

.dark__toggle {
    align-items: center;
    border-top: 1px solid var(--mobile-toggle-border);
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: 2.5rem 0;
    padding: 0;
    text-align: center;
}

.dark__toggle__item {
    color: var(--socialcard-header-text);
    font-size: 1.4rem;
    font-weight: bold;
    margin: 20px 0;
}

.onoffswitch {
    position: relative; width: 56px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 32px; padding: 0; line-height: 32px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #EEEEEE; color: #FFFFFF;
    background-image: var(--toggle-gradient);
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    background-image: var(--toggle-gradient);
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 22px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 20px;
    border: 2px solid #FFFFFF; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

input[type=checkbox] {
  --height: 2.5rem;
  --inset: 0.25rem;
  --border-size: 3px;
  --color-hover: #dcdcdc;
  --color-bg: hsl(0, 0%, 64%);
  --color-bg-checked: hsl(201, 100%, 50%);
  --knob-size: calc(var(--height) - var(--inset) * 2);
  --width: calc(var(--height) * 2 - var(--inset) * 2);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: content-box;
  position: relative;
  overflow: hidden;
  width: var(--width);
  height: var(--height);
  border-radius: var(--height);
  transition: background 0.3s ease;
}

input[type=checkbox]:focus {
  outline: none;
}

input[type=checkbox]:hover, input[type=checkbox]:focus {
  background: var(--color-hover);
}

input[type=checkbox]:hover { 
    cursor: pointer;
}

input[type=checkbox]:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--toggle-gradient);
  transition: background 0.3s ease;
}
input[type=checkbox]:after {
  content: "";
  position: absolute;
  border-radius: 100%;
  top: calc(var(--inset));
  left: calc(var(--inset));
  width: var(--knob-size);
  height: var(--knob-size);
  background: var(--color-knob);
  transition: transform 0.3s ease;
}
input[type=checkbox]:checked:before {
  background-color: #aeb2cb;
  background-image: none;
}
input[type=checkbox]:checked:after {
  transform: translateX(100%);
}

.attribution { font-size: 11px; text-align: center; padding: 25px 0;}
.attribution a { color: hsl(228, 45%, 44%); }

.statscard, .socialcard { min-width: 325px; max-width: 325px; }

@media (min-width: 580px) {
    body { padding-left: 0; padding-right: 0; }
    .header {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        padding: 40px 0;
        margin: 0 auto;
        flex-direction: column;
    }

    .dark__toggle {
        align-items: center;
        border-top: 0;
        display: flex;
        list-style-type: none;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .dark__toggle__item { margin: 0 20px;}

    .statscard, .socialcard { min-width: 250px; max-width: 250px; }
    .header { flex-direction: row; }
    .header, 
    .overview,
    .top,
    .stats { max-width: var(--min-width-md); }
    .top,
    .stats {     
        grid-template-columns: repeat(2, 250px);
        justify-content: center;
    }
}

@media (min-width: 1150px) {
    .header, 
    .overview,
    .top,
    .stats { max-width: var(--max-width-lg); }

    .top,
    .stats {     
        grid-template-columns: repeat(4, 250px);
    }

    .header { padding-left: 2%; padding-right: 2%; }
    .overview { padding-left: 2%; padding-right: 2%; }
}